.navigation-items {
    list-style: none;
    padding: 20px ;
    display: flex;
   
}

.navigation-item {
    margin: 0 10px;
}

.navigation-item a {
    text-decoration: none;
    color: blue;
}

.navigation-item a:hover {
    text-decoration: underline;
}